
/*header
header {
    padding: 50px;
    text-align: center;
   
   
}

h1 {
    font-size: 50px;
}

header p {
    font-size: 25px;
}
*/
/*search section
.container-search {
    float: left;
    margin-left: 50px;
    padding-top: 10px;
    background-color: white;
    width: 400px;
    height: 400px; 
   text-align: center;
}

input[type="text"] {
    height: 3.2rem;
    text-align: center;
}

*/
/*current Weather Container 
.currentWeather {
    position: absolute;
    margin-left: 30%;
    border: 5px solid black;
    height: 400px;
    width: 500px;
    background-color: white;
}

.currentWeather h2 {
    text-align: center;
    text-decoration: underline;
}

.currentWeather h3 {
    text-align: center;
    font-size: 40px;
}

*/
/* 5day weather forecast container 
.weatherContainer {
    margin: auto;
    margin-top: -15px;
    height: 400px; 
    width: 1600px;
    background-color: white;

}

#Para1 {
    text-align: center;
   font-size: 30px;
}

#weatherContainer{
    position: absolute;
    top: 100%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 1300px;
    border: 5px solid rgba(97, 95, 95, 0.829);
}

#iconsContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 1200px;
}

.icons{
    display: inline-block;
    height: 400px;
    width: 190px;
    margin: 20px;
    border: 5px solid rgb(48, 47, 47);
    border-radius: 10px;
}



.imgClass{
    height: 140px;
    width: 100%;
}

.weather{
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.minValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}

.maxValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 15px;
}

*/